@font-face {
    font-family: 'VT323';
    /* Define a name for the font */
    src: url('../font/VT323-Regular.ttf') format('truetype');
    /* Path to the font file */
}

[v-cloak] {
    display: none;
}

html {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    font-family: 'VT323', monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    color: #000;
    overflow: hidden;
}

.app-container {
    position: absolute;
    transform: scale(1);
    transform-origin: center center;
}


h1 {
    position: absolute;
    color: white;
    top: 0;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.bezel {
    --shadow-color: rgba(0, 0, 0, 0.2);
    display: flex;
    width: 375px;
    height: 375px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 10px 20px var(--shadow-color), 0 6px 6px var(--shadow-color);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    /* IE6-9 */
    align-items: center;
    justify-content: center;
    border-radius: 85px;
    position: relative;
}

.watch-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 325px;
    height: 325px;
    border-radius: 72px;
    box-shadow: 0 -2px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3);
}

/* https://codepen.io/josetxu/pen/VwWVKJd */
.watch-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background-color: rgba(131, 160, 169, 0.8);
    width: 275px;
    height: 275px;
    --units: 4px;
    --brick1: rgba(131, 160, 169, 0.8);
    --brick2: rgba(131, 160, 169, 0.8);
    --lines: #000;
    --gp-ln: 50%/calc(var(--units) * 10) calc(var(--units) * 5);
    --gp-cn: 50%/calc(var(--units) * 5) calc(var(--units) * 5);
    background:
        repeating-conic-gradient(from 90deg at 95% 55%, var(--lines) 0% 25%, #fff0 0% 100%) var(--gp-cn),
        repeating-linear-gradient(180deg, var(--lines) 0 5%, #fff0 0 50%, var(--lines) 0 55%, var(--brick2) 0 100%) var(--gp-ln),
        repeating-linear-gradient(90deg, var(--brick1) 0 47.5%, var(--lines) 0 50%, var(--brick1) 0 97.5%, var(--lines) 0 100%) var(--gp-ln);
}

.watch-back {
    background-color: white;
    border-radius: 8px;
}

.watch-face {
    width: 220px;
    height: 205px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(131, 160, 169, 0.35);
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
}

[v-cloak] {
    display: none;
}

.calendar {
    justify-content: end;
    align-items: center;
    display: flex;
    font-size: 42px;
    line-height: 0.8;
}

.date {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    /* width: 158px; */
}

.time {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: .8;
    position: relative;
}

.larger-time {
    display: flex;
    font-size: 72px;
}

.smaller-time {
    display: flex;
    font-size: 48px;
}

.graphs {
    font-size: 24px;
    margin-top: 3px;
}

.progress-bar {
    display: flex;
    align-items: center;
    cursor: help;
}

.progress-bar label {
    display: flex;
    align-items: center;
}

.progress-bar progress {
    /* flex: 1; */
    width: 145px;
}

progress {
    /* Set the dimensions */
    width: 100%;
    height: 14px;

    /* Reset the appearance */
    -webkit-appearance: none;
    appearance: none;
}

.icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
}

.calendar-icon {
    background-image: url('../img/calendar.png');
}

.sun-icon {
    cursor: help;
    background-image: url('../img/sun.png');
}

.moon-icon {
    cursor: help;
    background-image: url('../img/moon-light.png');
}

.world-icon {
    cursor: help;
    background-image: url('../img/world.png');
}

.briefcase-icon {
    cursor: help;
    background-image: url('../img/briefcase.png');
}

.bell-icon {
    background-image: url('../img/bell.png');
}

.help-icon {
    background-image: url('../img/help.png');
    margin-right: 3px;
}

.close-icon {
    background-image: url('../img/close.png');
    cursor: pointer;
    position: absolute;
    right: 4px;
}

/* Set the color of the progress bar */
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
}

progress::-webkit-progress-value {
    background-color: #000;
}

progress::-moz-progress-bar {
    background-color: #000;
}

.help-text {
    font-size: 18px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.help-text p {
    margin: 0;
    margin-top: 18px;
}

.help-text ul {
    font-size: 16px;
    padding: 0;
    padding-left: 8px;
    margin: 0.5rem 0;
}

.help-text .legend {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chime-controls {
    display: flex;
    position: absolute;
    right: -3px;
    top: 0;
}

.chime-option {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chime-interval {
    width: 23px;
}