<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHRONOVIZ - Visualize and hear the passage of time.</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css">
    <meta property="og:title" content="CHRONOVIZ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://beatobongco.com/time/" />
    <meta property="og:image" content="https://beatobongco.com/time/img/chronoviz_og.png" />
    <meta property="og:description" content="Visualize and hear the passage of time." />
    <meta name="description" content="Visualize and hear the passage of time.">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5RL9HB58C8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5RL9HB58C8');
    </script>
</head>

<body>
    <script src="js/vue.min.js"></script>
    <script src="js/moment.min.js"></script>
    <div class="app-container">
        <div id="app" v-cloak>
            <div class="bezel" v-if="interval">
                <h1>CHRONOVIZ</h1>
                <h1>CHRONOVIZ</h1>
                <div class="watch-outer">
                    <h3 class="top">beatobongco.com</h3>
                    <div class="watch-inner">
                        <div class="watch-back">
                            <div :class="['watch-face', {'night-mode': !isDayTime}]" v-if="interval">
                                <div class="help-text" v-if="isShowingHelp">
                                    <div class="icon close-icon" @click="closeHelp"></div>
                                    <p>Visualize and hear the <br> passage of time.</p>
                                    <ul>
                                        <li class="legend">
                                            <div class="world-icon icon"></div>&nbsp;year progress
                                        </li>
                                        <li class="legend">
                                            <div class="eye-icon icon"></div>&nbsp;waking hours (8am-11:59pm)
                                        </li>
                                        <li class="legend">
                                            <div class="closed-eye-icon icon"></div>&nbsp;sleeping hours (11:59pm-8am)
                                        </li>
                                        <li class="legend">
                                            <div class="briefcase-icon icon"></div>&nbsp;workday (Mon-Fri,
                                            9am-5pm)
                                        </li>
                                        <li class="legend">
                                            <div class="bell-icon icon"></div>&nbsp;set chime interval (minutes)
                                        </li>
                                        <li class="legend">
                                            <div class="sun-icon icon"></div>&nbsp;sunrise
                                        </li>
                                        <li class="legend">
                                            <div class="moon-icon icon"></div>&nbsp;sunset
                                        </li>
                                    </ul>
                                </div>
                                <div v-else>
                                    <div class="top-section">
                                        <div class="geo-info">
                                            <div class="country">{{geoInfo.country || ''}}</div>
                                            <div class="sunrise-sunset" v-if="sunInfo.sunrise"
                                                title="sunrise/sunset times">
                                                <div class="sun-icon icon"></div>
                                                <div class="up-down-icon icon"></div>
                                                <div class="sun-times">
                                                    <div class="sunrise-time">{{sunInfo.sunriseFormatted}}
                                                    </div>
                                                    <div class="sunset-time">{{sunInfo.sunsetFormatted}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calendar">
                                            <div class="day-of-week">{{ dayOfWeek }}</div>
                                            <div class="date">
                                                <div class="month">{{ month }}</div>
                                                <div class="day" v-html="day"></div>
                                                <div class="year">{{ year }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graphs" @click="showStats = !showStats">
                                        <div class="year-progress">
                                            <div class="year-progress-bar progress-bar" title="year progress">
                                                <label for="year">
                                                    <div class="world-icon icon"></div>
                                                </label>
                                                <span>&nbsp;</span>
                                                <div class="progress-stats" v-if="showStats" v-html="yearProgressText">
                                                </div>
                                                <div class="progress-inner" v-else>
                                                    <progress id="year" :value="yearProgress" max="100">
                                                        {{yearProgress}}%
                                                    </progress>
                                                    <span>&nbsp;</span>
                                                    <div>{{ yearProgress }}%</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="day-progress" v-if="isWakingTime">
                                            <div class="day-progress-bar progress-bar" title="waking hours">
                                                <label for="day">
                                                    <div class="eye-icon icon"></div>
                                                </label>
                                                <span>&nbsp;</span>
                                                <div class="progress-stats" v-if="showStats" v-html="dayProgressText">
                                                </div>
                                                <div class="progress-inner" v-else>
                                                    <progress id="day" :value="dayProgress" max="100">
                                                        {{dayProgress}}%
                                                    </progress>
                                                    <span>&nbsp;</span>
                                                    <div>{{ dayProgress }}%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sleep-progress" v-else>
                                            <div class="sleep-progress-bar progress-bar" title="sleeping hours">
                                                <label for="sleep">
                                                    <div class="closed-eye-icon icon"></div>
                                                </label>
                                                <span>&nbsp;</span>
                                                <div class="progress-stats sleep-progress" v-if="showStats"
                                                    v-html="sleepProgressText">
                                                </div>
                                                <div class="progress-inner" v-else>
                                                    <progress id="sleep" :value="sleepProgress" max="100">
                                                        {{sleepProgress}}%
                                                    </progress>
                                                    <span>&nbsp;</span>
                                                    <div>{{ sleepProgress }}%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="work-day-progress">
                                            <div class="work-day-progress-bar progress-bar" title="workday hours">
                                                <label for="work-day">
                                                    <div class="briefcase-icon icon"></div>
                                                </label>
                                                <span>&nbsp;</span>
                                                <div class="progress-stats workday-progress" v-if="showStats"
                                                    v-html="workDayProgressText">
                                                </div>
                                                <div class="progress-inner" v-else>
                                                    <progress id="work-day" :value="workDayProgress" max="100">
                                                        {{workDayProgress}}%
                                                    </progress>
                                                    <span>&nbsp;</span>
                                                    <div>{{ workDayProgress }}%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sun-wick-container">
                                        <div v-if="sunPosition" class="sun-icon icon" :style="{'left': sunPosition}">
                                        </div>
                                        <div v-if="moonPosition" class="moon-icon icon" :style="{'left': moonPosition}">
                                        </div>
                                        <hr class="flame" :width="secondsInADayProgress">
                                        <hr class="wick">
                                    </div>
                                    <div class="time">
                                        <div class="chime-controls">
                                            <div class="chime-option" @click="showHelp" title="usage instructions">
                                                <div class="help-icon icon"></div>
                                            </div>
                                            <div class="chime-option" @click="cycleChimeInterval"
                                                :title="chimeIntervalTitle">
                                                <div class="bell-icon icon"></div>
                                                <span class="chime-interval">{{ settings.chimeInterval }}</span>
                                            </div>
                                        </div>
                                        <div class="larger-time">
                                            <div class="hours">{{ hours }}</div>
                                            <div>:</div>
                                            <div class="minutes">{{ minutes }}</div>
                                        </div>
                                        <div class="smaller-time">
                                            <!-- <div>&nbsp;</div> -->
                                            <div class="seconds">{{ seconds }}</div>
                                            <div class="ampm">{{ ampm }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="bottom">sunrise-sunset.org</h3>
                </div>
            </div>
        </div>
    </div>
    <script>
        const spacePad = (num, places = 3) => {
            const zero = places - num.toString().length + 1;
            return Array(+(zero > 0 && zero)).join("&nbsp;") + num;
        }

        const { createApp } = Vue

        createApp({
            data() {
                return {
                    geoInfo: {},
                    sunInfo: {},
                    isDayTime: true,
                    showStats: false,
                    isShowingHelp: false,
                    isWakingTime: null,
                    dayOfWeek: null,
                    year: null,
                    month: null,
                    day: null,
                    hours: null,
                    minutes: null,
                    seconds: null,
                    ampm: null,
                    interval: null,
                    chimePlayed: false,
                    settings: {
                        startOfDay: "8:00",
                        endOfDay: "23:59",
                        startOfWorkDay: "9:00",
                        endOfWorkDay: "17:00",
                        chimeInterval: "OFF"
                    },
                    // year progress
                    dayOfYear: null,
                    totalDays: null,
                    yearProgress: null,
                    yearProgressText: null,
                    // day progress
                    minutesElapsed: 0,
                    minutesInADay: null,
                    dayProgress: null,
                    dayProgressText: null,
                    // work day progress
                    minutesElapsedInWorkDay: 0,
                    minutesInAWorkDay: null,
                    workDayProgress: null,
                    workDayProgressText: null,
                    // sleep progress
                    minutesElapsedInSleep: 0,
                    minutesInASleep: 0,
                    sleepProgress: null,
                    sleepProgressText: null
                }
            },
            created() {
                let dayStart = moment(this.settings.startOfDay, 'hh:mm');
                let dayEnd = moment(this.settings.endOfDay, 'hh:mm');
                this.minutesInADay = dayEnd.diff(dayStart, 'minutes');

                let sleepStart = moment(this.settings.endOfDay, 'hh:mm');
                let sleepEnd = moment(this.settings.startOfDay, 'hh:mm');
                sleepEnd.add(1, 'days');
                this.minutesInASleep = Math.abs(sleepEnd.diff(sleepStart, 'minutes'));

                let workDayStart = moment(this.settings.startOfWorkDay, 'hh:mm');
                let workDayEnd = moment(this.settings.endOfWorkDay, 'hh:mm');
                this.minutesInAWorkDay = workDayEnd.diff(workDayStart, 'minutes');

                this.interval = setInterval(() => {
                    this.tellTime();
                }, 1000);

                this.tellTime();
                this.updateProgressBars();
                this.getGeoInfo();
            },
            computed: {
                chimeIntervalTitle() {
                    return this.settings.chimeInterval === "OFF" ? "chime off" : "chime every " + this.settings.chimeInterval + " minutes";
                }
            },
            methods: {
                tellTime() {
                    const now = moment();

                    this.dayOfWeek = now.format('ddd').toUpperCase();
                    this.year = now.format('YY');
                    this.month = now.format('MMM').toUpperCase();
                    this.day = now.format('D');
                    this.hours = now.format('hh');
                    this.minutes = now.format('mm');
                    this.seconds = now.format('ss');
                    this.ampm = now.format('a').toUpperCase();

                    let sunrise = moment(this.sunInfo.sunrise || this.settings.startOfDay, 'HH:mm');
                    let sunset = moment(this.sunInfo.sunset || this.settings.endOfDay, 'HH:mm');

                    this.isDayTime = now.isBetween(sunrise, sunset);
                    this.isWakingTime = now.isBetween(moment(this.settings.startOfDay, 'HH:mm'), moment(this.settings.endOfDay, 'HH:mm'));

                    const secondsInADay = 86400;
                    const secondsElapsed = now.diff(moment().startOf('day'), 'seconds');
                    this.secondsInADayProgress = roundDown(secondsElapsed / secondsInADay * 100, 2) + '%';
                    if (this.sunInfo.sunrise && this.sunInfo.sunset) {
                        this.sunInfo.sunriseFormatted = moment(this.sunInfo.sunrise, 'HH:mm').format('h:mm');
                        this.sunInfo.sunsetFormatted = moment(this.sunInfo.sunset, 'HH:mm').format('h:mm');
                        this.sunPosition = Math.min(sunrise.diff(moment().startOf('day'), 'seconds') / secondsInADay * 100, 50) + '%';
                        this.moonPosition = Math.min(sunset.diff(moment().startOf('day'), 'seconds') / secondsInADay * 100, 75) + '%';
                    }

                    if (this.seconds === "00") {
                        this.updateProgressBars();
                        this.playChime();
                    }

                    // once a day, update geo + sunrise/sunset info
                    if (this.hours === "00" && this.minutes === "00" && this.seconds === "00") {
                        this.getGeoInfo();
                    }
                },
                updateProgressBars() {
                    const now = moment();
                    this.dayOfYear = now.dayOfYear();
                    this.totalDays = now.isLeapYear() ? 366 : 365;
                    this.yearProgress = Math.round(this.dayOfYear / this.totalDays * 100);

                    this.yearProgressText = spacePad(this.dayOfYear) + '/' + this.totalDays + ' days';

                    let dayStart = moment(this.settings.startOfDay, 'hh:mm');
                    let dayEnd = moment(this.settings.endOfDay, 'hh:mm');
                    if (now.isBetween(dayStart, dayEnd)) {
                        this.minutesInADay = dayEnd.diff(dayStart, 'minutes');
                        this.minutesElapsed = Math.min(now.diff(dayStart, 'minutes'), this.minutesInADay);
                        this.dayProgress = Math.round(this.minutesElapsed / this.minutesInADay * 100);
                    } else {
                        this.dayProgress = 0;
                    }
                    this.dayProgressText = spacePad(this.minutesElapsed) + '/' + this.minutesInADay + ' minutes';

                    let workDayStart = moment(this.settings.startOfWorkDay, 'hh:mm');
                    let workDayEnd = moment(this.settings.endOfWorkDay, 'hh:mm');
                    let isWeekday = now.day() > 0 && now.day() < 6;
                    if (now.isBetween(workDayStart, workDayEnd) && isWeekday) {
                        this.minutesInAWorkDay = workDayEnd.diff(workDayStart, 'minutes');
                        this.minutesElapsedInWorkDay = Math.min(now.diff(workDayStart, 'minutes'), this.minutesInAWorkDay);
                        this.workDayProgress = Math.floor(this.minutesElapsedInWorkDay / this.minutesInAWorkDay * 100);
                    } else {
                        this.workDayProgress = 0;
                    }
                    this.workDayProgressText = spacePad(this.minutesElapsedInWorkDay) + '/' + this.minutesInAWorkDay + ' minutes';

                    let sleepStart = moment().hour(moment(this.settings.endOfDay, 'HH:mm').hour()).minute(moment(this.settings.endOfDay, 'HH:mm').minute());
                    let sleepEnd = moment().hour(moment(this.settings.startOfDay, 'HH:mm').hour()).minute(moment(this.settings.startOfDay, 'HH:mm').minute());
                    if (now.isBefore(sleepEnd)) {
                        sleepStart.subtract(1, 'days');
                    } else {
                        sleepEnd.add(1, 'days');
                    }
                    if (now.isBetween(sleepStart, sleepEnd)) {
                        this.minutesInASleep = sleepEnd.diff(sleepStart, 'minutes');
                        this.minutesElapsedInSleep = Math.min(now.diff(sleepStart, 'minutes'), this.minutesInASleep);
                        this.sleepProgress = Math.floor(this.minutesElapsedInSleep / this.minutesInASleep * 100);
                    } else {
                        this.sleepProgress = 0;
                    }
                    this.sleepProgressText = spacePad(this.minutesElapsedInSleep) + '/' + this.minutesInASleep + ' minutes';
                },
                playChime() {
                    // play a chime every n minutes (determined by user settings)
                    let shouldPlayChime = false;
                    if (this.settings.chimeInterval === "OFF") {
                        return
                    }
                    if (this.settings.chimeInterval === 60 && this.minutes === "00") {
                        this.playSound();
                    } else if (parseInt(this.minutes) % this.settings.chimeInterval === 0) {
                        this.playSound();
                    }
                },
                playSound() {
                    console.log('BEEP!');
                    const audio = new Audio('audio/chime.mp3');
                    audio.play();
                },
                cycleChimeInterval() {
                    const chimeIntervals = ["OFF", 15, 30, 60];
                    const currentInterval = this.settings.chimeInterval;
                    const currentIndex = chimeIntervals.indexOf(currentInterval);
                    const nextIndex = (currentIndex + 1) % chimeIntervals.length;
                    this.settings.chimeInterval = chimeIntervals[nextIndex];
                },
                getGeoInfo() {
                    console.log('===== GET GEO INFO =====')
                    fetch('https://ipinfo.io/json').then(res => {
                        res.json().then(r => {
                            this.geoInfo = r
                            console.log(r)
                            this.getSunriseSunsetInfo()
                        })
                    }).catch(err => {
                        console.log(err)
                    })
                },
                getSunriseSunsetInfo() {
                    const [lat, lng] = this.geoInfo.loc.split(',')
                    fetch(`https://api.sunrise-sunset.org/json?lat=${lat}&lng=${lng}`).then(res => {
                        res.json().then(r => {
                            const sunrise = moment.utc(r.results.sunrise, "hh:mm a").local().format('HH:mm')
                            const sunset = moment.utc(r.results.sunset, "hh:mm a").local().format('HH:mm')
                            this.sunInfo = {
                                sunrise,
                                sunset
                            }

                            console.log(this.sunInfo)
                        }).catch(err => {
                            console.log(err)
                        })
                    })
                },
                showHelp() {
                    this.isShowingHelp = true;
                },
                closeHelp() {
                    this.isShowingHelp = false;
                }
            }

        }).mount('#app')

        function roundDown(number, decimalPlaces) {
            const factor = Math.pow(10, decimalPlaces);
            return Math.floor(number * factor) / factor;
        }

        function scaleApp() {
            // Responsive hack: scale the app to fit the screen
            const appWidth = 360;
            const appHeight = 360;
            const scaleFactorX = window.innerWidth / appWidth;
            const scaleFactorY = window.innerHeight / appHeight;

            let scaleFactor = Math.min(scaleFactorX, scaleFactorY);

            // round to 1 decimal place
            scaleFactor = roundDown(scaleFactor, 1);

            const appWrapper = document.querySelector('.app-container');
            appWrapper.style.transform = `scale(${scaleFactor})`;
        }

        scaleApp();

        // update scale when window size changes
        window.addEventListener('resize', scaleApp);
    </script>
</body>

</html>